@font-face {
  font-family: 'Computer Pixel-7';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./font/computer-pixel-7/computer_pixel-7.ttf') format('ttf'), /* Super Modern Browsers */
}
* {
  font-family: 'Computer Pixel-7';
  color: #33ff00;
  font-size: 3rem;
  background-color: #000000;
}
input {
  margin-left: 4px;
  border: none;
}
input:focus {
  outline: none;
}
.hidden {
  display: none;
}
.boese {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.inCorner {
  position: absolute;
  top: 0px;
  left: 0px;
}

@media screen and (max-width: 1500px) {
  input, span {
    display: none;
  }
  body:after {
    content: "Das hier musst du am Pc machen!";
  }
}