/* bree-serif-regular - latin */
@font-face {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  src: url('./font/bree-serif-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./font/bree-serif-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./font/bree-serif-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./font/bree-serif-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./font/bree-serif-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./font/bree-serif-v10-latin-regular.svg#BreeSerif') format('svg'); /* Legacy iOS */
}

:root {
  --border: 1px var(--mainBackgroundColor) solid;
  --mainBackgroundColor: #954976;
  --mainColor: #303030;
}
* {
  font-family: 'Bree Serif', serif;
  color: var(--mainColor);
}
body {
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  background-color: #eaeaea;
  font-size: 1.2em;
}
a {
  padding: 15px;
  text-decoration: none;
}
img {
  border: var(--border);
}
.icon {
  border: none;
}
header {
  position: absolute;
  width: 100vw;
  z-index: 9999;
  padding: 15px;
  text-align: center;
  border-bottom: var(--border);
}
header a {
  transition: 0.25s;
}
header a:hover {
  background-color: var(--mainBackgroundColor);
  color: #ffffff;
}
main {
  z-index: 0;
  position: relative;
  top: 15vh;
  left: 0px;
}
footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  padding: 15px;
  border-top: var(--border);
  background-color: #eaeaea;
}
footer a:hover {
  text-decoration: underline;
}
.mailBtn {
  color: #ffffff;
  background-color: var(--mainBackgroundColor);
  border-radius: 5px;
  transition: 0.10s;
}
.mailBtn:hover {
  box-shadow: 4px 4px 8px rgba(149, 73, 118, 0.2)
}
.externalLink {
  color: var(--mainBackgroundColor);
  text-decoration: underline;
}
.focused {
  border-bottom: 2px var(--mainBackgroundColor) solid;
}
.flex {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
.row {
  display: inline;
}
.home {
  font-size: 3rem;
}
.contact {
  font-size: 1.8rem;
}
.contact .row p {
  margin-top: 35px;
}
.menuBtn {
  display: none;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  margin: 0px;
  padding: 15px;
  background-color: var(--mainBackgroundColor);
  border: none;
  color: #ffffff;
}
.nextSiteBtn {
  position: absolute;
  min-width: 200px;
  text-align: center;
  top: 60vh;
  left: 50vw;
  transform: translateX(-50%);
  background-color: var(--mainBackgroundColor);
  color: #ffffff;
  transition: 0.25s;
  border: var(--border);
}
.nextSiteBtn:hover {
  background-color: transparent;
  color: var(--mainBackgroundColor);
}

@media screen and (max-width: 1000px) {
  main {
    top: 5vh;
    font-size: 1rem;
    width: 80%;
    margin: auto;
  }
  .flex {
    flex-direction: column;
  }
  .nextSiteBtn {
    display: none;
  }
  img {
    width: 50%;
    height: 50%;
  }
  .icon {
    width: 64px;
    height: auto;
  }
  .contact {
    font-size: 1rem;
  }
  .mailBtn {
    display: block;
    text-align: center;
  }
}
@media screen and (max-width: 850px) {
  img {
    width: 65%;
    height: 65%;
  }
  body {
    overflow-y: auto;
    margin-bottom: 130px;
  }
}
@media screen and (max-width: 600px) {
  img {
    width: 80%;
    height: 80%;
  }
}
@media screen and (max-width: 500px) {
  main {
    top: 0.5vh;
  }
  img {
    width: 90%;
    height: auto;
  }
  .menuBtn {
    display: block;
  }
  header {
    position: fixed;
    bottom: 0px;
    display: none;
    flex-direction: column-reverse;
    justify-content: center;
    bottom: 48px;
    background-color: var(--mainBackgroundColor);
    padding: 0px;
    margin: 0px;
  }
  footer {
    margin-bottom: 48px;
    margin-top: 50px;
  }
}



















.floatOut {
  -webkit-animation-name: 'leftOut';
  -moz-animation-name: 'leftOut';
  animation-name: 'leftOut';
  -webkit-animation-duration: 0.33s;
  -moz-animation-duration: 0.33s;
  animation-duration: 0.33s;
}

@keyframes leftOut {
  0% {
    left: 0vw;
  }
  100% {
    left: -100vw;
  }
}

.floatIn {
  -webkit-animation-name: 'rightIn';
  -moz-animation-name: 'rightIn';
  animation-name: 'rightIn';
  -webkit-animation-duration: 0.33s;
  -moz-animation-duration: 0.33s;
  animation-duration: 0.33s;
}

@keyframes rightIn {
  0% {
    left: 80vw;
  }
  100% {
    left: 0vw;
  }
}